name: dental_scanner
description: A Flutter app for 3D scanning dental models using ARCore
publish_to: 'none'
version: 1.0.0+1


environment:
  sdk: ">=3.0.0 <4.0.0"



dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  
  # Camera for preview
  camera: ^0.10.5+5
  
  # Permissions handling
  permission_handler: ^11.1.0
  
  # File storage
  path_provider: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

